.theme__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-text-secondary);
  gap: var(--space-2);
}

.theme__icon {
  color: var(--color-text-secondary);
}

.theme__label {
  font-size: 12px;
  text-transform: capitalize;
}

/* hide on mobile */
@media (max-width: 768px) {
  /* .theme__toggle {
    display: none;
  } */

  .theme__label {
    display: none;
  }
}